pkgbase = dotmng
	pkgdesc = A script to manage dotfiles with various functions and Git tracking
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/jotalevi/.mng
	arch = any
	license = MIT
	depends = git
	depends = rsync
	depends = pacman
	source = dotmng-1.0.tar.gz::https://github.com/jotalevi/.mng/archive/refs/tags/v1.0.tar.gz
	sha256sums = SKIP

pkgname = dotmng
